In [0]:
sc

In [0]:
print(spark)

In [0]:
# a) Create HR_Employee Pysaprk dataFrame. 
employee_DF = spark.read.csv("dbfs:/FileStore/tables/HR_Employee.csv",header=True,inferSchema = True)
employee_DF.show()

+----------+--------------------+--------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
|EmployeeID|          Department|             JobRole|Attrition|Gender|Age|MaritalStatus|    Education|EducationField|   BusinessTravel|JobInvolvement|JobLevel|JobSatisfaction|Hourlyrate|Income|Salaryhike|OverTime|Workex|YearsSinceLastPromotion|EmpSatisfaction|TrainingTimesLastYear|WorkLifeBalance|Performance_Rating|
+----------+--------------------+--------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
|         1|               Sales|     Sales Executive|      Yes|Female| 41|       Single|      College| Life Sciences|    Travel_Rarely|          High|       2|      Very High|        94|  5993|        11|     Yes|     8|                      0|         Medium|                    0|            Bad|         Excellent|
|         2|Research & Develo...|  Research Scientist|       No|  Male| 49|      Married|Below College| Life Sciences|Travel_Frequently|        Medium|       2|         Medium|        61|  5130|        23|      No|    10|                      1|           High|                    3|         Better|       Outstanding|
|         3|Research & Develo...|Laboratory Techni...|      Yes|  Male| 37|       Single|      College|         Other|    Travel_Rarely|        Medium|       1|           High|        92|  2090|        15|     Yes|     7|                      0|      Very High|                    3|         Better|         Excellent|
|         4|Research & Develo...|  Research Scientist|       No|Female| 33|      Married|       Master| Life Sciences|Travel_Frequently|          High|       1|           High|        56|  2909|        11|     Yes|     8|                      3|      Very High|                    3|         Better|         Excellent|
|         5|Research & Develo...|Laboratory Techni...|       No|  Male| 27|      Married|Below College|       Medical|    Travel_Rarely|          High|       1|         Medium|        40|  3468|        12|      No|     6|                      2|            Low|                    3|         Better|         Excellent|
|         6|Research & Develo...|Laboratory Techni...|       No|  Male| 32|       Single|      College| Life Sciences|Travel_Frequently|          High|       1|      Very High|        79|  3068|        13|      No|     8|                      3|      Very High|                    2|           Good|         Excellent|
|         7|Research & Develo...|Laboratory Techni...|       No|Female| 59|      Married|     Bachelor|       Medical|    Travel_Rarely|     Very High|       1|            Low|        81|  2670|        20|     Yes|    12|                      0|           High|                    3|           Good|       Outstanding|
|         8|Research & Develo...|Laboratory Techni...|       No|  Male| 30|     Divorced|Below College| Life Sciences|    Travel_Rarely|          High|       1|           High|        67|  2693|        22|      No|     1|                      0|      Very High|                    2|         Better|       Outstanding|
|         9|Research & Develo...|Manufacturing Dir...|       No|  Male| 38|       Single|     Bachelor| Life Sciences|Travel_Frequently|        Medium|       3|           High|        44|  9526|        21|      No|    10|                      1|      Very High|                    2|         Better|       Outstanding|
|        10|Research & Develo...|Healthcare Repres...|       No|  Male| 36|      Married|     Bachelor|       Medical|    Travel_Rarely|          High|       2|           High|        94|  5237|        13|      No|    17|                      7|           High|                    3|           Good|         Excellent|
|        11|Research & Develo...|Laboratory Techni...|       No|  Male| 35|      Married|     Bachelor|       Medical|    Travel_Rarely|     Very High|       1|         Medium|        84|  2426|        13|      No|     6|                      0|            Low|                    5|         Better|         Excellent|
|        12|Research & Develo...|Laboratory Techni...|       No|Female| 29|       Single|      College| Life Sciences|    Travel_Rarely|        Medium|       2|           High|        49|  4193|        12|     Yes|    10|                      0|      Very High|                    3|         Better|         Excellent|
|        13|Research & Develo...|  Research Scientist|       No|  Male| 31|     Divorced|Below College| Life Sciences|    Travel_Rarely|          High|       1|           High|        31|  2911|        17|      No|     5|                      4|            Low|                    1|           Good|         Excellent|
|        14|Research & Develo...|Laboratory Techni...|       No|  Male| 34|     Divorced|      College|       Medical|    Travel_Rarely|          High|       1|      Very High|        93|  2661|        11|      No|     3|                      1|         Medium|                    2|         Better|         Excellent|
|        15|Research & Develo...|Laboratory Techni...|      Yes|  Male| 28|       Single|     Bachelor| Life Sciences|    Travel_Rarely|        Medium|       1|           High|        50|  2028|        14|     Yes|     6|                      0|           High|                    4|         Better|         Excellent|
|        16|Research & Develo...|Manufacturing Dir...|       No|Female| 29|     Divorced|       Master| Life Sciences|    Travel_Rarely|     Very High|       3|            Low|        51|  9980|        11|      No|    10|                      8|         Medium|                    1|         Better|         Excellent|
|        17|Research & Develo...|  Research Scientist|       No|  Male| 32|     Divorced|      College| Life Sciences|    Travel_Rarely|     Very High|       1|         Medium|        80|  3298|        12|     Yes|     7|                      0|            Low|                    5|           Good|         Excellent|
|        18|Research & Develo...|Laboratory Techni...|       No|  Male| 22|     Divorced|      College|       Medical|       Non-Travel|     Very High|       1|      Very High|        96|  2935|        13|     Yes|     1|                      0|      Very High|                    2|           Good|         Excellent|
|        19|               Sales|             Manager|       No|Female| 53|      Married|       Master| Life Sciences|    Travel_Rarely|        Medium|       4|      Very High|        78| 15427|        16|      No|    31|                      3|            Low|                    3|         Better|         Excellent|
|        20|Research & Develo...|  Research Scientist|       No|  Male| 38|       Single|     Bachelor| Life Sciences|    Travel_Rarely|          High|       1|      Very High|        45|  3944|        11|     Yes|     6|                      1|      Very High|                    3|         Better|         Excellent|
+----------+--------------------+--------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
only showing top 20 rows

In [0]:
# b) Show printSchema & show 10 rows of Dataset
employee_DF.printSchema()
employee_DF.show(10, truncate=False)

root
 |-- EmployeeID: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- JobInvolvement: string (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobSatisfaction: string (nullable = true)
 |-- Hourlyrate: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Salaryhike: integer (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- Workex: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- EmpSatisfaction: string (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: string (nullable = true)
 |-- Performance_Rating: string (nullable = true)

+----------+----------------------+-------------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
|EmployeeID|Department            |JobRole                  |Attrition|Gender|Age|MaritalStatus|Education    |EducationField|BusinessTravel   |JobInvolvement|JobLevel|JobSatisfaction|Hourlyrate|Income|Salaryhike|OverTime|Workex|YearsSinceLastPromotion|EmpSatisfaction|TrainingTimesLastYear|WorkLifeBalance|Performance_Rating|
+----------+----------------------+-------------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
|1         |Sales                 |Sales Executive          |Yes      |Female|41 |Single       |College      |Life Sciences |Travel_Rarely    |High          |2       |Very High      |94        |5993  |11        |Yes     |8     |0                      |Medium         |0                    |Bad            |Excellent         |
|2         |Research & Development|Research Scientist       |No       |Male  |49 |Married      |Below College|Life Sciences |Travel_Frequently|Medium        |2       |Medium         |61        |5130  |23        |No      |10    |1                      |High           |3                    |Better         |Outstanding       |
|3         |Research & Development|Laboratory Technician    |Yes      |Male  |37 |Single       |College      |Other         |Travel_Rarely    |Medium        |1       |High           |92        |2090  |15        |Yes     |7     |0                      |Very High      |3                    |Better         |Excellent         |
|4         |Research & Development|Research Scientist       |No       |Female|33 |Married      |Master       |Life Sciences |Travel_Frequently|High          |1       |High           |56        |2909  |11        |Yes     |8     |3                      |Very High      |3                    |Better         |Excellent         |
|5         |Research & Development|Laboratory Technician    |No       |Male  |27 |Married      |Below College|Medical       |Travel_Rarely    |High          |1       |Medium         |40        |3468  |12        |No      |6     |2                      |Low            |3                    |Better         |Excellent         |
|6         |Research & Development|Laboratory Technician    |No       |Male  |32 |Single       |College      |Life Sciences |Travel_Frequently|High          |1       |Very High      |79        |3068  |13        |No      |8     |3                      |Very High      |2                    |Good           |Excellent         |
|7         |Research & Development|Laboratory Technician    |No       |Female|59 |Married      |Bachelor     |Medical       |Travel_Rarely    |Very High     |1       |Low            |81        |2670  |20        |Yes     |12    |0                      |High           |3                    |Good           |Outstanding       |
|8         |Research & Development|Laboratory Technician    |No       |Male  |30 |Divorced     |Below College|Life Sciences |Travel_Rarely    |High          |1       |High           |67        |2693  |22        |No      |1     |0                      |Very High      |2                    |Better         |Outstanding       |
|9         |Research & Development|Manufacturing Director   |No       |Male  |38 |Single       |Bachelor     |Life Sciences |Travel_Frequently|Medium        |3       |High           |44        |9526  |21        |No      |10    |1                      |Very High      |2                    |Better         |Outstanding       |
|10        |Research & Development|Healthcare Representative|No       |Male  |36 |Married      |Bachelor     |Medical       |Travel_Rarely    |High          |2       |High           |94        |5237  |13        |No      |17    |7                      |High           |3                    |Good           |Excellent         |
+----------+----------------------+-------------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
only showing top 10 rows

In [0]:
# c) Most employee is working in which department
from pyspark.sql.functions import col
employee_DF.createOrReplaceTempView("employeetable")
spark.sql("select DEPARTMENT, COUNT(EmployeeID) as total_employees from employeetable group by DEPARTMENT order by total_employees desc").show(1)

+--------------------+---------------+
|          DEPARTMENT|total_employees|
+--------------------+---------------+
|Research & Develo...|            961|
+--------------------+---------------+
only showing top 1 row

In [0]:
# d) Highest number of job roles
spark.sql("select JobRole, COUNT(JobRole) as total_job_Roles from employeetable group by JobRole order by total_job_Roles desc").show()

+--------------------+---------------+
|             JobRole|total_job_Roles|
+--------------------+---------------+
|     Sales Executive|            326|
|  Research Scientist|            292|
|Laboratory Techni...|            259|
|Manufacturing Dir...|            145|
|Healthcare Repres...|            131|
|             Manager|            102|
|Sales Representative|             82|
|   Research Director|             80|
|     Human Resources|             52|
+--------------------+---------------+

In [0]:
# e) Which gender have higher strength as workforce?
spark.sql("select Gender, COUNT(Gender) as count_gender from employeetable group by Gender order by count_gender desc").show()

+------+------------+
|Gender|count_gender|
+------+------------+
|  Male|         881|
|Female|         588|
+------+------------+

In [0]:
# f) Compare the marital status of employee and find the most frequent status.
#spark.sql("select MaritalStatus, COUNT(MaritalStatus) as Frequency from employeetable group by MaritalStatus order by count_status desc").show()
spark.sql("select MaritalStatus, COUNT(*) as Frequency from employeetable group by MaritalStatus order by count(*) desc limit 1").show()

+-------------+------------+
|MaritalStatus|count_status|
+-------------+------------+
|      Married|         672|
|       Single|         470|
|     Divorced|         327|
+-------------+------------+

+-------------+---------+
|MaritalStatus|Frequency|
+-------------+---------+
|      Married|      672|
+-------------+---------+

In [0]:
# g) Mostly hired employee have qualification
spark.sql("select Education, COUNT(*) as Qualification from employeetable group by Education order by count(*) desc limit 1").show()
spark.sql("select Education, COUNT(Education) as Qualification from employeetable group by Education order by Qualification desc").show()

+---------+-------------+
|Education|Qualification|
+---------+-------------+
| Bachelor|          572|
+---------+-------------+

+-------------+-------------+
|    Education|Qualification|
+-------------+-------------+
|     Bachelor|          572|
|       Master|          398|
|      College|          282|
|Below College|          169|
|       Doctor|           48|
+-------------+-------------+

In [0]:
# h) Find the count of employee from which education fields 
spark.sql("select Education, COUNT(EmployeeID) as no_of_emp from employeetable group by Education order by no_of_emp desc").show()

+-------------+---------+
|    Education|no_of_emp|
+-------------+---------+
|     Bachelor|      572|
|       Master|      398|
|      College|      282|
|Below College|      169|
|       Doctor|       48|
+-------------+---------+

In [0]:
# i) What is the job satisfaction level of employee? 
spark.sql("select JobSatisfaction, COUNT(JobSatisfaction) as no_of_employees from employeetable group by JobSatisfaction order by no_of_employees desc").show()

+---------------+---------------+
|JobSatisfaction|no_of_employees|
+---------------+---------------+
|      Very High|            459|
|           High|            441|
|            Low|            289|
|         Medium|            280|
+---------------+---------------+

In [0]:
# j) Does most of employee do overtime: Yes or No?
spark.sql("select OverTime, COUNT(*) as no_of_employees from employeetable group by OverTime order by count(*) desc limit 1").show()

+--------+---------------+
|OverTime|no_of_employees|
+--------+---------------+
|      No|           1053|
+--------+---------------+

In [0]:
# k) Find Min & Max Salaried employees. 
employee_DF.agg({'Income' : 'max'}).show(1)
employee_DF.agg({'Income' : 'min'}).show(1)

+-----------+
|max(Income)|
+-----------+
|      19999|
+-----------+

+-----------+
|min(Income)|
+-----------+
|       1009|
+-----------+

In [0]:
# l) Does most of the employee do business travel? Find of the employees counts for each category
spark.sql("select BusinessTravel, COUNT(BusinessTravel) as no_of_employees from employeetable group by BusinessTravel order by no_of_employees desc").show()
spark.sql("select BusinessTravel, COUNT(*) as no_of_employees from employeetable group by BusinessTravel order by count(*) desc limit 1").show()

+-----------------+---------------+
|   BusinessTravel|no_of_employees|
+-----------------+---------------+
|    Travel_Rarely|           1042|
|Travel_Frequently|            277|
|       Non-Travel|            150|
+-----------------+---------------+

+--------------+---------------+
|BusinessTravel|no_of_employees|
+--------------+---------------+
| Travel_Rarely|           1042|
+--------------+---------------+

In [0]:
# m) Find the AVG salary of graduate employee.
spark.sql("select Education, AVG(Income) as average_salary from employeetable where Education='Bachelor' group by Education").show()

+---------+-----------------+
|Education|   average_salary|
+---------+-----------------+
| Bachelor|6517.263986013986|
+---------+-----------------+

In [0]:
# n) Find the employee qualification receiving salary lower than equal to avg. salary of all employee.
avg_sal=spark.sql("select AVG(Income) from employeetable").show()
spark.sql("select Education, AVG(Income) as avg_salary from employeetable where Income <= (select AVG(Income) from employeetable) group by Education").show()

+----------------+
|     avg(Income)|
+----------------+
|6505.72157930565|
+----------------+

+-------------+------------------+
|    Education|        avg_salary|
+-------------+------------------+
|Below College| 3305.565573770492|
|       Master| 4077.727626459144|
|       Doctor|            4527.5|
|     Bachelor|3572.2945945945944|
|      College| 3935.960199004975|
+-------------+------------------+

In [0]:
# o) When does the employee have highest chance of promotion in terms of working year?
#spark.sql("select EmployeeID from employeetable where Performance_Rating == 'Good' group by EmployeeID").show()

+----------+
|EmployeeID|
+----------+
+----------+

In [0]:
# p) Highest attrition is in which department? 
spark.sql("select Department, max(Attrition) as highest_attrition from employeetable group by Department").show()

+--------------------+-----------------+
|          Department|highest_attrition|
+--------------------+-----------------+
|     Human Resources|              Yes|
|Research & Develo...|              Yes|
|               Sales|              Yes|
+--------------------+-----------------+

In [0]:
# q) Show marital status of Person having highest attrition rate
spark.sql("select MaritalStatus, max(Attrition) as highest_attrition from employeetable group by MaritalStatus").show()

+-------------+-----------------+
|MaritalStatus|highest_attrition|
+-------------+-----------------+
|     Divorced|              Yes|
|      Married|              Yes|
|       Single|              Yes|
+-------------+-----------------+